@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0f0f1b;
  /* Dark background as base */
  color: white;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}