# CONFIGURACIÓN DEL SERVIDOR SMTP (CORREO)
# Para Gmail, usa smtp.gmail.com y el puerto 587 (TLS).
# IMPORTANTE: En SMTP_PASSWORD debes usar una "Contraseña de Aplicación" de Google, NO tu contraseña normal.
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=info@qntrol.es
SMTP_PASSWORD=nrcu oqmi lpgg yvwn
SMTP_SENDER_NAME=Información Qntrol

# CONFIGURACIÓN DEL SERVIDOR LOCAL DE API (PYTHON)
API_HOST=127.0.0.1
API_PORT=8000
